/* GLOBAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 100%;
  min-width: 1200px;
  padding: 0 10%;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #33475b;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.wv-50{
  width: 50%;
}

.wv-25{
  width: 25%;
}

.hg-25{
  height: 25%;
}

.linhei-25{
  line-height: 35px;
}

li .circle::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  line-height: 15px;
  font-size: 10px;
  text-align: center;
}

li .circle.checked::before {
  content: '\2713';
  border: 1px solid #fe775a;
  background-color: #fe775a;
  color: white;
}

header{
  position: relative;
}

.tex-center{
  text-align: center;
}

.mar-top{
  margin-top: 20px;
}

.mar-top50{
  margin-top: 50px;
}

/* BOTTONI */
.btn{
  display: inline-block;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  color: white;
  font-size: 80%;
}

.btn.btn-orange{
  color: white;
  border: 1px solid #fe775a;
  background-color: #fe775a;
}

.btn.btn-white{
  border: 1px solid #fe775a;
  color: #fe775a;
  background-color: white;
}

.btn.btn-xxl{
  padding: 15px 35px;
  text-decoration: none;
}

/* MENU FIXED */
nav{
  height: 80px;
  line-height: 80px;
  position: fixed;
  background-color: #f4f9fd;
  border-bottom: 1px solid #384f60;
  z-index: 999;
}

.nav-right{
  text-align: right;
}

.menu{
  list-style: none;
}

.menu li{
  display: inline;
  padding: 0 10px;
}

.menu li a{
  color: #435869;
  text-decoration: none;
  font-size: 100%;
}

.menu-fixed li .border-r{
  border-right: 1px solid #435869;
  padding-right: 20px;
}

#pad-0{
  padding-left: 0px;
}

.fas.fa-search{
  color: #03a6be;
}

.fas{
  padding: 0 5px;
}

.spazio-menu-fixed{
  height: 80px;
}

/* MENU FISSO */
.menu-principale{
  height: 80px;
  line-height: 80px;
  background-color: white;
}

.logo{
  margin-top: 10px;
}

.menu-principale .menu{
  text-align: right;
}

/* JUMBOTRON */
.jumbotron{
  position: relative;
  height: 612px;
  background-image: url(../img/jumbotron.png);
  background-position: 104% 0;
  background-size: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-text h1{
  font-size: 250%;
  padding: 30px 0;
}

.jumbotron-text .btn{
 margin: 30px 0;
}

.info{
  font-size: 70%;
}

.rett-green{
  width: 100%;
  height: 80px;
  background-color: #afebe4;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  position: absolute;
  bottom: 0px;
  z-index: 998;

}

/* MAIN  */

/* PRIMA SEZIONE */

/* PARTE SUPERIORE */
#prima-sezione{
  background-color: #f4f9fd;
  position: relative;
  padding-bottom: 90px;
}

.parte{
  position: relative;
}

.part-sup{
  text-align: center;
}

.part-sup img{
  width: 250px;
  margin-top: 70px;
}

.part-sup h2{
  font-size: 200%;
}

.part-sup p{
  margin: 30px 0;
}

/* PARTE CENTRALE */
.centrale{
  background-color: white;
  margin: 40px 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

.item-left{
  width: 30%;
  text-align: center;
  height: 375px;
  padding: 80px 0; 
}

.item-left .box-image{
  background-image: url(../img/book.svg);
  margin-bottom: 30px;
}

.box-image{
  height: 110px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item-right{
  width: 50%;
  margin: 0 10%;
  padding: 80px 0;
}

.item-right p{
  margin: 30px 0;
  position: relative;
}

.line{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0;
}

.item-right .line::after{
  position: absolute;
  bottom: 8px;
  left: 40%;
  content: '';
  width: 65%;
  height: 1px;
  border-bottom: 1px solid #435869;
}

/* PARTE INFERIORE */
.col{
  width: 30%;
  height: 50%;
  background-color: white;
  padding: 0 35px;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}

.col-center{
  margin: 0 5%;
}

.col h3{
  margin: 30px 0;
}

.col-left .box-image{
background-image: url(../img/buble.svg);
}

.col-center .box-image{
  background-image: url(../img/office.svg);
}

.col-right .box-image{
  background-image: url(../img/table.svg);
}

.col .box-image{
  margin-top: 30px;
}

.bord-text{
  position: relative;
  padding-bottom: 65px;
}

.col .bord-text::after{
  position: absolute;
  bottom: 0;
  left: -5%;
  content: '';
  width: 110%;
  height: 1px;
  border-bottom: 1px solid #435869;
}

.list{
  margin: 20px 0 40px 0;
  text-align: left;
}

.check-list{
  list-style: none;
}

.pd{
  margin-bottom: 10%;
}

/* SECONDA SEZIONE */
#seconda-sezione{
  height: 580px;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #00bba8), color-stop(1, #00aab7));
}

#seconda-sezione .text{
  text-align: center;
  color: white;
  padding-top: 20px;
}

.text h2{
  margin: 30px 0;
}

.prima-fila{
  margin-top: 60px;
  border-bottom: 1px solid white;
}


.quad{
  width: 25%;
  height: 150px;
  text-align: center;
  color: white;
  position: relative;
}

.quad span{
  display: block;
}
.quad img{
  padding-top: 15px;
}

.number{
  color: white;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
}

.quad span::after{
  content: '\002B';
  font-size: 37px;
}

.bx1, .bx2, .bx3{
  border-right: 1px solid white;
}

/* TERZA SEZIONE */
#terza-sezione{
  height: 580px;
}

.sopra{
  margin-top: 30px;
  margin-bottom: 60px;
}

.numb-text{
  text-align: center;
  width: 30%;
  margin-right: 20%;
}

.numb-text h3{
  font-size: 40px;
}

.numb-text p{
  margin: 20px 0;
  font-size: 15px;
}

.sotto .float-left h3{
  font-size: 30px;
  font-weight: bold;
}
.loghi-list{
  list-style: none;
  margin: 20px 0;
}

.loghi-list li{
  display: inline;
}

.loghi-list li img{
  padding: 0 10px;
  vertical-align: middle;
}

.box-logo{
  width: 20%;
}

.bx-img img{
  height: 300px;
  margin-right: 100px;
  
}

/* FOOTER */
.foot{
  height: 550px;
  background-color: #32495b;
  color: white
}

.col-footer h4{
  margin: 20px 0;
}

.col-footer ul li{
  list-style: none;
}

.col-footer ul li a{
  text-decoration: none;
  color: #c7d3df;
}

#special-btn{
  background-color: #dadee0;
  color: #32495b;
  border: 1px solid #32495b;
  margin: 15px 0;
}

.lingue{
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.lingue li a{
  color: white;
}
